In [29]:
import os
import pandas as pd
import datetime as dt
import numpy as np

In [6]:
print(os.getcwd())

/Users/ZiweiMengyang/Desktop/Python & Machine Learning/Tiger/Capstone/Codes

# Step 1. Load csv into pandas DataFrame (play, down, search)

In [93]:
play = pd.read_csv('../Data/play_sample.csv', header=0)
# if use pyspark 
# play = spark.read.csv('../Data/valid_uid.csv', header=True)

In [94]:
play['play_date'] = pd.to_datetime(play['date'])
play = play.drop(columns=['date'])

In [96]:
print(play.shape)
play.tail()

(386875, 8)

,uid,device,song_id,song_type,play_time,song_length,churn,play_date
386870,167848336.0,ar,6962777.0,0.0,68.0,84.0,0,2017-04-26
386871,167848336.0,ar,22398320.0,0.0,246.0,246.0,0,2017-04-26
386872,167848336.0,ar,22398320.0,0.0,246.0,246.0,0,2017-04-26
386873,167848336.0,ar,22398320.0,0.0,139.0,246.0,0,2017-04-26
386874,167848336.0,ar,80403.0,0.0,153.0,204.0,0,2017-04-27

### Define end_date  
*Note -  For down and search data, first remove log >= pd.to_date('2017-04-29')*

In [78]:
end_date = play['play_date'].max() + dt.timedelta(days=1)
end_date

Timestamp('2017-04-29 00:00:00')

In [21]:
search = pd.read_csv('../Data/search_sample.csv', header=0)
search['search_date'] = pd.to_datetime(search['search_date_str'])
search.dtypes

uid                       float64
search_date_str            object
search_query               object
search_date        datetime64[ns]
dtype: object

In [79]:
search = search[search['search_date'] < end_date]
search.tail()

,uid,search_date_str,search_query,search_date
32970,168541184.0,2017-04-28 22:27:27,%E4%B8%80%E7%94%9F%E6%89%80%E7%88%B1-%28%E7%94...,2017-04-28 22:27:27
32971,168995920.0,2017-04-28 22:34:44,%E4%BC%B4,2017-04-28 22:34:44
32972,168989344.0,2017-04-28 23:18:30,%E6%B4%BB%E7%9D%80+%E9%83%9D%E4%BA%91,2017-04-28 23:18:30
32973,168951008.0,2017-04-28 23:24:02,%E6%B1%9F%E5%8D%97,2017-04-28 23:24:02
32974,168951008.0,2017-04-28 23:24:17,%E6%B1%9F%E5%8D%97,2017-04-28 23:24:17

In [83]:
down = pd.read_csv('../Data/download_sample.csv', header=0)
down.dtypes

uid               float64
song_id_down      float64
song_name_down     object
date_down          object
dtype: object

In [84]:
down['down_date'] = pd.to_datetime(down['date_down'])
down = down[down['down_date'] < end_date].drop(columns=['date_down'])
down.tail()

               uid  song_id_down song_name_down  down_date
29663  168541184.0     4370025.0             晚风 2017-04-28
29664  168541184.0      135373.0           痛哭的人 2017-04-28
29665  168995920.0     1061665.0      伴(48秒铃声版) 2017-04-28
29666  169001472.0    11425031.0            童话镇 2017-04-28
29667  169001472.0    19535292.0           逆流成河 2017-04-28

# Step 2. create Frequency and Avg. Play Time features for play data

In [166]:
def compute_play_freq(df, event, event_date, end_date, window,):
    df_win = df[(pd.to_datetime(end_date) - df[event_date]).dt.days <= window]
    df_feature = df_win.groupby('uid')[event] \
                       .agg(['count', np.median]) \
                       .rename(columns={'count':'freq_last_' + str(window) + '_days_play', 
                                        'median':'median_last_'+ str(window) + '_days_play_time'})
    
    return df_feature

In [167]:
play_1 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 1)

In [168]:
play_1.head(5)

            freq_last_1_days_play  median_last_1_days_play_time
uid
17745172.0                     38                          59.0
17972352.0                      2                         183.5
19201816.0                     32                         187.0
47544816.0                      5                           0.0
51908840.0                      1                       39907.0

In [169]:
play_1 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 1)
play_3 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 3)
play_7 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 7)
play_14 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 14)
play_30 = compute_play_freq(play, 'play_time', 'play_date', '2017-04-29', 30)

In [170]:
play_feature = pd.merge(play_30, play_14, how='left', left_index=True, right_index=True)
play_feature = pd.merge(play_feature, play_7, how='left', left_index=True, right_index=True)
play_feature = pd.merge(play_feature, play_3, how='left', left_index=True, right_index=True)
play_feature = pd.merge(play_feature, play_1, how='left', left_index=True, right_index=True)

In [171]:
play_feature.head(5)

,freq_last_30_days_play,median_last_30_days_play_time,freq_last_14_days_play,median_last_14_days_play_time,freq_last_7_days_play,median_last_7_days_play_time,freq_last_3_days_play,median_last_3_days_play_time,freq_last_1_days_play,median_last_1_days_play_time
uid,,,,,,,,,,
1668933.0,7,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4754114.0,429,0.0,171.0,0.0,90.0,0.0,35.0,0.0,NaN,NaN
7950294.0,63,9.0,59.0,9.0,38.0,74.0,25.0,201.0,NaN,NaN
7950557.0,86,20.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10257342.0,151,27.0,87.0,21.0,71.0,16.0,9.0,30.0,NaN,NaN

# Step 3. Create Frequency features for down and search data respectively

In [50]:
# function for down and search data 
def compute_freq(df, event, event_date, end_date, window,):
    df_win = df[(pd.to_datetime(end_date) - df[event_date]).dt.days <= window]
    df_feature = df_win.groupby('uid')[event_date] \
                       .agg(['count']) \
                       .rename(columns={'count':'freq_last_' + str(window) + '_days_' + event})
                                       
    
    return df_feature

In [102]:
down_feature = compute_freq(down, 'download', 'down_date', end_date, 1)

In [103]:
down_feature.head()

             freq_last_1_days_download
uid
17745172.0                           1
96451488.0                           1
150530384.0                          1
157725904.0                          2
167570816.0                         30

In [104]:
for t in [3,7,14,30]:
    down_t = compute_freq(down, 'download', 'down_date', end_date, t)
    down_feature = pd.merge(down_t, down_feature, how='left', left_index=True, right_index=True)

In [105]:
down_feature.head()

,freq_last_30_days_download,freq_last_14_days_download,freq_last_7_days_download,freq_last_3_days_download,freq_last_1_days_download
uid,,,,,
4754114.0,2,NaN,NaN,NaN,NaN
7950557.0,6,NaN,NaN,NaN,NaN
11771279.0,13,NaN,NaN,NaN,NaN
17745172.0,2,1.0,1.0,1.0,1.0
17972352.0,1,1.0,NaN,NaN,NaN

In [106]:
search_feature = compute_freq(search, 'search', 'search_date', end_date, 1)
for t in [3,7,14,30]:
    search_t = compute_freq(search, 'search', 'search_date', end_date, t)
    search_feature = pd.merge(search_t, search_feature, how='left', left_index=True, right_index=True)

In [107]:
search_feature.head()

,freq_last_30_days_search,freq_last_14_days_search,freq_last_7_days_search,freq_last_3_days_search,freq_last_1_days_search
uid,,,,,
1668933.0,4,NaN,NaN,NaN,NaN
4754114.0,20,4.0,NaN,NaN,NaN
7950557.0,25,NaN,NaN,NaN,NaN
10257342.0,8,1.0,1.0,NaN,NaN
11771279.0,7,NaN,NaN,NaN,NaN

# Step 4. Merge play_feature, search_feature, down_feature together

In [172]:
play_feature_2 = play[['uid', 'device', 'churn']].drop_duplicates()
play_feature_2.shape

(980, 3)

* **Hypothesis: users have multiple devices, and they install MusicBox across devices 
  --> modify device variable s.t. it captures the case with multiple devices**

In [173]:
play_feature_3 = play[['uid', 'churn']].drop_duplicates()
play_feature_3.shape

(691, 2)

In [174]:
play_uid = play['uid'].drop_duplicates()
play_uid.shape

(691,)

In [175]:
device_num = play[['uid', 'device']].drop_duplicates() \
                                        .groupby('uid')['device'] \
                                        .agg(['max', 'count']) 

device_num.head()

           max  count
uid
1668933.0   ar      1
4754114.0   ar      1
7950294.0   ar      1
7950557.0   ar      1
10257342.0  ar      1

In [142]:
device_num.dtypes

max      object
count     int64
dtype: object

In [143]:
def device_adj(row):
    if row['count'] == 1:
        return row['max']
    else:
        return 'both'
    
    
device_num['device'] = device_num.apply(device_adj)
device.head()

KeyError: ('count', 'occurred at index max')

In [176]:
device_num['device'] = np.where(device_num['count'] == 1, device_num['max'], 'both')

In [177]:
device_num['device'].value_counts()

ar      396
both    289
ip        6
Name: device, dtype: int64

In [178]:
play_feature_4 = play_feature_3.reset_index(drop=True) \
                               .set_index('uid') \
                               .join(device_num['device'])
        
play_feature_4.tail()

             churn device
uid
168810336.0      0   both
158362768.0      1     ar
162111120.0      0     ar
167686400.0      0     ar
167848336.0      0   both

In [179]:
play_feature_all = play_feature_4.join(play_feature, how='left')
play_feature_all.head()

,churn,device,freq_last_30_days_play,median_last_30_days_play_time,freq_last_14_days_play,median_last_14_days_play_time,freq_last_7_days_play,median_last_7_days_play_time,freq_last_3_days_play,median_last_3_days_play_time,freq_last_1_days_play,median_last_1_days_play_time
uid,,,,,,,,,,,,
167861376.0,0,both,817,221.0,263.0,234.0,18.0,213.0,NaN,NaN,NaN,NaN
168017424.0,0,both,789,32.0,306.0,66.0,302.0,64.5,232.0,45.0,175.0,0.0
168273328.0,0,ar,497,168.0,261.0,6.0,261.0,6.0,261.0,6.0,182.0,0.0
168466368.0,1,ar,119,18.0,49.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN
168889152.0,0,both,524,195.0,349.0,197.0,260.0,211.0,144.0,240.0,51.0,256.0

In [180]:
df_all = play_feature_all.join(search_feature, how='left') \
                         .join(down_feature, how='left') \
                         .fillna(0)

df_all.sample(10)

,churn,device,freq_last_30_days_play,median_last_30_days_play_time,freq_last_14_days_play,median_last_14_days_play_time,freq_last_7_days_play,median_last_7_days_play_time,freq_last_3_days_play,median_last_3_days_play_time,...,freq_last_30_days_search,freq_last_14_days_search,freq_last_7_days_search,freq_last_3_days_search,freq_last_1_days_search,freq_last_30_days_download,freq_last_14_days_download,freq_last_7_days_download,freq_last_3_days_download,freq_last_1_days_download
uid,,,,,,,,,,,,,,,,,,,,,
168940480.0,0,ar,1541,94.0,961.0,129.0,424.0,143.0,100.0,177.0,...,167.0,96.0,19.0,1.0,1.0,292.0,126.0,119.0,40.0,39.0
167635904.0,0,ar,48,107.5,17.0,77.0,6.0,77.0,0.0,0.0,...,4.0,2.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0
168895568.0,0,both,1739,46.0,314.0,122.0,104.0,110.5,29.0,4.0,...,177.0,73.0,6.0,6.0,5.0,313.0,13.0,2.0,0.0,0.0
168084576.0,0,ar,250,223.0,1.0,217.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168768752.0,0,ar,503,203.0,227.0,188.0,143.0,194.0,97.0,173.0,...,34.0,9.0,8.0,5.0,3.0,16.0,2.0,1.0,0.0,0.0
169130464.0,1,ar,10,261.5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
167258816.0,1,ar,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
169016640.0,0,both,1048,80.0,355.0,125.0,206.0,183.5,156.0,188.5,...,160.0,33.0,5.0,1.0,0.0,116.0,39.0,3.0,1.0,0.0
168581184.0,1,ar,94,95.5,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
167633296.0,0,both,202,184.5,107.0,185.0,82.0,196.0,78.0,196.0,...,17.0,6.0,4.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0

In [181]:
df_all.to_csv('../Data/sample_median_1.csv', header=True)

# END

In [71]:
df_win = search[(pd.to_datetime('2017-04-29') - search['search_date']).dt.days <= 1]

In [69]:
df_win.tail()

,uid,search_date_str,search_query,search_date
41316,168632256.0,2017-05-12 23:34:36,%e7%9a%87%e5%86%a0,2017-05-12 23:34:36
41317,168632256.0,2017-05-12 23:36:26,%e4%bd%a0%e7%9a%84%e7%b4%a0%e9%a2%9c,2017-05-12 23:36:26
41318,168632256.0,2017-05-12 23:37:08,%e7%9f%ad%e5%81%87%e6%9c%9f,2017-05-12 23:37:08
41319,168632256.0,2017-05-12 23:37:29,%e8%88%8d%e4%b8%8d%e5%be%97%e7%9a%84%e8%83%8c%...,2017-05-12 23:37:29
41320,168632256.0,2017-05-12 23:44:03,%e6%92%95%e5%bf%83%e6%ac%b2,2017-05-12 23:44:03

In [30]:
df_win.groupby('uid')['play_time'].agg(['count', 'sum', 'mean'])

             count      sum          mean
uid
17745172.0      38   4175.0    109.868421
17972352.0       2    367.0    183.500000
19201816.0      32   6256.0    195.500000
47544816.0       5    398.0     79.600000
51908840.0       1  39907.0  39907.000000
96451488.0      58   8963.0    154.534483
132343856.0    101  30093.0    297.950495
148445200.0     37   8821.0    238.405405
150530384.0     25   4201.0    168.040000
157725904.0     60   8305.0    138.416667
160830624.0     15   3742.0    249.466667
165227952.0     23   2301.0    100.043478
165979776.0     17   2971.0    174.764706
166470960.0      4    997.0    249.250000
166488192.0      1    257.0    257.000000
166936272.0      1    147.0    147.000000
167438976.0      1    157.0    157.000000
167570816.0     38   7638.0    201.000000
167573648.0     20   4399.0    219.950000
167574112.0     15   3053.0    203.533333
167592640.0     12   3031.0    252.583333
167593600.0    124  24013.0    193.653226
167633296.0      8   1501.0    187.625000
167648800.0      4    760.0    190.000000
167650368.0     22   2927.0    133.045455
167651456.0      1    120.0    120.000000
167651888.0     54   3669.0     67.944444
167657184.0     27   5260.0    194.814815
167659808.0     22   3172.0    144.181818
167660832.0     27   5406.0    200.222222
...            ...      ...           ...
168916704.0      8   1393.0    174.125000
168920224.0      2    425.0    212.500000
168923760.0     31   3298.0    106.387097
168927616.0    193  33674.0    174.476684
168937440.0      2    386.0    193.000000
168940480.0     47   7632.0    162.382979
168951008.0      1    237.0    237.000000
168961792.0      6    546.0     91.000000
168965792.0      5   1144.0    228.800000
168970064.0      3    379.0    126.333333
168970592.0      2    469.0    234.500000
168972192.0      4    794.0    198.500000
168973216.0     55  12773.0    232.236364
168977152.0     28   6855.0    244.821429
168978240.0      8    999.0    124.875000
168982224.0      2   1824.0    912.000000
168984544.0      2     57.0     28.500000
168989344.0    117  26139.0    223.410256
168990368.0     20   1738.0     86.900000
168990576.0     15   3508.0    233.866667
168992672.0      9   2066.0    229.555556
168995920.0     66  13411.0    203.196970
168996976.0    107  23907.0    223.429907
169000384.0     30  10710.0    357.000000
169001472.0     61   5770.0     94.590164
169008384.0     57  14355.0    251.842105
169016640.0     96  20944.0    218.166667
169031392.0     71   3658.0     51.521127
169036784.0     40   9675.0    241.875000
169108576.0     13   3358.0    258.307692

[308 rows x 3 columns]

In [ ]:
search_1 = compute_freq(search, 'search_date', '2017-04-29', 1)